<h1> items in cart :{{count}}</h1>


<div class="container">
  <div class="row">
    <div class="table-responsive">

      <table class="table table-light">
        <thead>
        <tr>
          <th>product item</th>
          <th> price </th>
          <th> quantity </th>
          <th> total</th>
        </tr>
        </thead>
        <tr *ngFor="let x of cart[x]">
          <td><span></span>{{x.title}}</td>
          <td> {{x.price}} </td>
          <td> {{x.quantity}} </td>
          <td>{{itemtotal}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
