<div class="row">
  <div class="col-2">
    <app-product-filter></app-product-filter>
  </div>


  <div class="col-10">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <div class="col-md-6">
            <div  class="card" style="width: 20rem;">
              <img class="card-img-top" src="{{p.imageUrl}}" >
              <div class="card-body">
                <h4 class="card-title">{{p.title}}</h4>
                <p class="card-text">{{p.price | currency:'INR':'symbol'}}</p>
                <div class="">
                  <button *ngIf="getQuantity(p.$key)===0;else updateQuantity" class="btn btn-info btn-block" type="button"  (click)="addToCart(p)" >Add to cart</button>
                 <ng-template #updateQuantity>
                   <div class="row no-gutters">
                     <div class="col-2">
                       <button type="button" class="btn btn-secondary btn-block" (click)="removeFromCart(p)">-</button>
                     </div>
                     <div class="col text-center">
                       {{getQuantity(p.$key)}} in cart
                     </div>
                     <div class="col-2" >
                       <button type="button" (click)="addToCart(p)" class="btn btn-secondary btn-block">+</button>
                     </div>
                   </div>

                 </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(i+1)%2===0" class="w-100"></div>
      </ng-container>
    </div>

  </div>
</div>
